@charset "UTF-8";
@import url('../default/default.css');

@import url('../default/default.css');

body {
    background-color: #00536F;
    font-family: var(--comfortaa);
}

main {
    background-color: #fff;
    width: 500px;
    margin: auto;
    padding: 6px;
    border-radius: var(--border-radius);
    text-align: left;
}

h1.center {
    margin-bottom: 6px;
}

img#profile {
    display: var(--bloco);
    margin: auto;
    border-radius: 6px;
    margin-bottom: 6px;
}

.center {
    text-align: var(--centro);
}

p#comment {
    background-color: var(--gray-dark);
    color: #fff;
    width: 333px;
    padding: 6px;
    margin: auto;
    border-radius: 5.6px;
}

a#profile-link:hover {
    color: #535353;
    text-decoration: underline;
}

footer > p {
    font-family: var(--arial);
}