@charset "UTF-8";

@import url('../default/default.css');

@font-face {
    font-family: 'Comfortaa Regular';
    src: url('../fonts/comfortaa/Comfortaa-Regular.ttf') format(truetype);
}

:root {
    --comfortaa: 'Comfortaa Regular', Arial, Verdana, Helvetica, sans-serif;
    --arial: Arial, Helvetica, sans-serif;
}

body {
    background-color: #00536F;
    font-family: var(--comfortaa);
}

main {
    background-color: #fff;
    width: 500px;
    margin: auto;
    padding: 6px;
    border-radius: var(--border-radius);
    text-align: left;
}

h1.center {
    margin-bottom: 6px;
}

img#profile {
    display: var(--bloco);
    margin: auto;
    border-radius: 6px;
    margin-bottom: 6px;
}

.center {
    text-align: var(--centro);
}

a#profile-link:hover {
    color: #535353;
    text-decoration: underline;
}

footer > p {
    font-family: var(--arial);
}