@charset "UTF-8";

@media screen and (min-width: 320px) and (max-width: 460px) {
    body {
        background-color: #025E73;
    }
}

@media screen and (min-width: 775px) {
    main {
        width: 775px;
    }

    img#profile {
        transition-duration: .36s;
    }

    img#profile:hover {
        scale: 1.15;
        box-shadow: 6px 5px 8px #00000091;
    }
}