@charset "UTF-8";
@import url('versions.css');

@media screen and (min-width: 320px) and (max-width: 460px) {
    body {
        background-color: #025E73;
    }

    img#version-1-0-img {
        height: 148px; /*Reduzido para a metade da metade da altura arredondado para +1*/
        width: 206px; /*Reduzido para a metade da metade da largura arredondado para +1*/
    }

    img#version-2-0 {
        height: 200px; /*Dividido por 2 e dividido por 2*/
        width: 200px; /*Dividido por 2 e dividido por 2*/
    }

    img#version-3-0-img {
        height: 78px; /*Dividido por 2 e dividido por 2 arredondado +00.25*/
        width: 203px; /*Dividido por 2 e dividido por 2 arredondado +00.25*/
    }

    i#x-mark {
        padding-right: var(--padding-icon-media);
    }

    i#x-mark2 {
        padding-right: var(--padding-icon-media);
    }

    i#x-mark3 {
        padding-right: var(--padding-icon-media);
    }
}

@media screen and (min-width: 775px) {
    img#version-1-0-img {
        height: 295.5px; /*Reduzido para a metade da altura*/
        width: 410px; /*Reduzido para a metade da largura*/
    }

    img#version-2-0 {
        height: 400px; /*Dividido por 2 e arredondado com +105*/
        width: 400px; /*Dividido por 2 e arredondado com +105*/
    }

    i#x-mark {
        padding-right: var(--padding-icon-media-max);
    }

    i#x-mark2 {
        padding-right: var(--padding-icon-media-max);
    }

    i#x-mark3 {
        padding-right: var(--padding-icon-media-max);
    }
}