@charset "UTF-8";

@font-face {
    font-family: 'Comfortaa Regular';
    src: url('../fonts/comfortaa/Comfortaa-Regular.ttf') format(truetype);
}

body {
    background-color: #00536F;
    font-family: 'Comfortaa Regular', Arial, Verdana, Helvetica, sans-serif;
}

main {
    background-color: #fff;
    margin: auto;
    width: 500px;
    padding: 6px;
    border-radius: 5.6px;
}

.center {
    text-align: center;
}

img {
    display: block;
    margin: auto;
    border: 1.45px solid #000;
}

img.images {
    transition-duration: .36s;
}

img#version-1-0-img {
    height: 265px;
    width: 365px;
}

img#version-2-0 {
    height: 265px; /*Dividido por 2 e arredondado com +5*/
    width: 265px; /*Dividido por 2 e arredondado com +5*/
}

p.launcher {
    text-align: center;
    margin-top: 12px;
    margin-bottom: 12px;
}

i#x-mark {
    display: none;
    text-align: right;
    padding-right: 29px;
    font-size: 1.2em;
}

i#x-mark2 {
    display: none;
    text-align: right;
    padding-right: 29px;
    font-size: 1.2em;
}

i#yt-icon {
    color: #dd1414;
}

footer > p {
    font-family: Arial, Helvetica, sans-serif;
}