@charset "UTF-8";

@font-face {
    font-family: 'Comfortaa Regular';
    src: url('../fonts/comfortaa/Comfortaa-Regular.ttf') format(truetype);
}

:root {
    --comfortaa: 'Comfortaa Regular', Arial, Verdana, Helvetica, sans-serif;
    --arial: Arial, Helvetica, sans-serif;

    --padding-icon-1: 27px;
    --padding-icon-2: 67px;
    --padding-icon-3: 7px;
    --padding-icon-media: 18px;
    --padding-icon-media-max: 135px;
    --size-icon: 1.2em;

    --border-radius: 5.6px;
}

body {
    background-color: #00536F;
    font-family: var(--comfortaa);
}

main {
    background-color: #fff;
    margin: auto;
    width: 500px;
    padding: 6px;
    border-radius: var(--border-radius);
}

.center {
    text-align: center;
}

img {
    display: block;
    margin: auto;
    border: 1.45px solid #000;
}

img.images {
    transition-duration: .36s;
}

img#version-1-0-img {
    height: 265px;
    width: 365px;
}

img#version-2-0 {
    height: 265px; /*Dividido por 2 e arredondado com +5*/
    width: 265px; /*Dividido por 2 e arredondado com +5*/
}

img#version-3-0-img {
    height: 155.5px;
    width: 405.5px;
}

p.launcher {
    text-align: center;
    margin-top: 12px;
    margin-bottom: 12px;
}

i#x-mark {
    display: none;
    text-align: right;
    padding-right: var(--padding-icon-1);
    font-size: var(--size-icon);
}

i#x-mark2 {
    display: none;
    text-align: right;
    padding-right: var(--padding-icon-2);
    font-size: var(--size-icon);
}

i#x-mark3 {
    display: none;
    text-align: right;
    padding-right: var(--padding-icon-3);
    font-size: var(--size-icon);
}

i#yt-icon {
    color: #dd1414;
}

footer > p {
    font-family: var(--arial);
}