@charset "UTF-8";

@import url('../default/default.css');

body {
    font-family: var(--comfortaa);
    background-color: #025E73;
}

main {
    margin: auto;
    background-color: #4a6a78;
    padding: 6px;
    border-radius: var(--border-radius);
}

footer > p {
    font-family: var(--arial);
}

iframe {
    border-radius: var(--border-menu);
}

div.video {
    margin: 0px 0px 30px -20px;
    padding: 0px;
    padding-right: 0px;
    padding-bottom: 50%;
    position: relative;
}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 93%;
    height: 90%;
}

img.imgs {
    display: var(--bloco);
    margin: auto;
    width: 375px;
    height: 375px;
}

p.error-iframe {
    color: #e11c1c;
}

.center {
    text-align: var(--centro);
}