@charset "UTF-8";
@import url(media-query-default.css);

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

:root {
    --white: #D4CCD9;
    --black: #111016;
    --gray-dark: #848484;
    --fff: #fff;
    --000: #000;
    --transition: .40s;
    
    --centro: center;
    --nada: none;
    --bloco: block;
    --bloco-alinhado: inline-block;
    --flex-alinhado: inline-flex;

    --border-radius: 5.6px;
    --border-menu: 6.5px;
}

header {
    margin-bottom: 12px;
}

ol, ul {
    list-style-type: var(--nada);
}

menu > ul > li > a {
    display: var(--bloco);
    padding: 10px;
    text-align: var(--centro);
    color: var(--black);
    font-weight: 700;
    transition: all var(--transition);
}

menu > ul > li > a:hover {
    background-color: var(--black);
    color: var(--white);
}

a {
    text-decoration: var(--nada);
    color: var(--black);
}

a.link-footer {
    background-color: var(--black);
    color: var(--fff);
    padding: 2.34px;
    border-radius: 4.5px;
}

a.link-footer:hover {
    text-decoration: underline;
    transition-duration: var(--transition);
}

menu {
    display: var(--bloco);
    background-color: var(--white);
    border-bottom-right-radius: var(--border-menu);
    border-bottom-left-radius: var(--border-menu);
    padding-left: 1px;
    width: 1103.150;
    height: 39.282;
    margin: 0px;
}

i#menu-open {
    background-color: var(--white);
    color: var(--000);
    padding-bottom: 4px;
    border-radius: 0px;
    font-size: 1.66em;
    width: 100%;
    text-align: var(--centro);
    transition-duration: var(--transition);
}

i#menu-open:hover {
    background-color: var(--black);
    color: var(--white);
}

p#comment {
    background-color: var(--gray-dark);
    color: #fff;
    width: 333px;
    padding: 6px;
    margin: auto;
    border-radius: 5.6px;
}

footer {
    background-color: var(--white);
    color: var(--black);
    margin-top: 12px;
    padding: 6px;
}

footer > p {
    text-align: var(--centro);
}