@charset "UTF-8";
@import url('default.css');
@media screen and (min-width: 320px) and (max-width: 460px) {
    body {
        background-color: #025E73;
    }

    main {
        width: 340px;
    }

    footer > p {
        font-size: 2.75vw;
    }
}

@media screen and (min-width: 775px) {

    body {
        background-image: linear-gradient(to right, #043540 15%, #00536F,#025E73);
    }

    main {
        width: 770px;
    }

    menu > ul > li {
        display: var(--bloco-alinhado);
    }

    i#menu-open {
        display: var(--nada);
    }

    menu {
        margin: auto;
        text-align: var(--centro);
    }

    footer > p {
        font-size: 1.56vw;
    }
}